---
layout: default
use-site-title: true
---
<div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  {% include grid_img.html path="/img/design/typography.png" %}
  {% include grid_img.html path="/img/design/dechirico.png" %}
  {% include grid_img.html path="/img/design/strangelove.png" %}
  {% include grid_img.html path="/img/design/otsc.png" %}
  {% include grid_img.html path="/img/design/eiffel_tower.jpg" %}
  {% include grid_img.html path="/img/design/mesh.png" %}
</div>

<br/>
<br/>

<div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  {% include grid_img.html path="/img/design/diptych_bw.png" %}
  {% include grid_img.html path="/img/design/diptych_col.png" %}
</div>

<br/>
<br/>

<div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  {% include grid_img.html path="/img/design/linguistics.png" fullwidth="grid-item--fullwidth" %}
  {% include grid_img.html path="/img/design/vonnegut.png" fullwidth="grid-item--fullwidth" %}
  {% include grid_img.html path="/img/design/sunset.png" fullwidth="grid-item--fullwidth" %}
</div>

<br/>
<br/>

<div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  {% include grid_img.html path="/img/design/2030.png" %}
  {% include grid_img.html path="/img/design/2031.png" %}
  {% include grid_img.html path="/img/design/2033.png" %}
  {% include grid_img.html path="/img/design/2034.png" %}
  {% include grid_img.html path="/img/design/2034-2.png" %}
  {% include grid_img.html path="/img/design/2036.png" fullwidth="grid-item--fullwidth" %}
</div>
