---
layout: default
use-site-title: true
---
<div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  {% include grid_img.html path="/img/design/typography.jpg" %}
  {% include grid_img.html path="/img/design/dechirico.jpg" %}
  {% include grid_img.html path="/img/design/strangelove.jpg" %}
  {% include grid_img.html path="/img/design/otsc.jpg" %}
  {% include grid_img.html path="/img/design/eiffel_tower.jpg" %}
  {% include grid_img.html path="/img/design/mesh.jpg" %}
</div>

<br/>
<br/>

<div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  {% include grid_img.html path="/img/design/diptych_bw.jpg" %}
  {% include grid_img.html path="/img/design/diptych_col.jpg" %}
</div>

<br/>
<br/>

<div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  {% include grid_img.html path="/img/design/linguistics.jpg" fullwidth="grid-item--fullwidth" %}
  {% include grid_img.html path="/img/design/vonnegut.jpg" fullwidth="grid-item--fullwidth" %}
  {% include grid_img.html path="/img/design/sunset.jpg" fullwidth="grid-item--fullwidth" %}
</div>

<br/>
<br/>

<div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  {% include grid_img.html path="/img/design/2030.jpg" %}
  {% include grid_img.html path="/img/design/2031.jpg" %}
  {% include grid_img.html path="/img/design/2033.jpg" %}
  {% include grid_img.html path="/img/design/2034.jpg" %}
  {% include grid_img.html path="/img/design/2034-2.jpg" %}
  {% include grid_img.html path="/img/design/2036.jpg" fullwidth="grid-item--fullwidth" %}
</div>
