---
layout: default
use-site-title: true
---

<div class="photo-section">
  <div class="section-header">Iceland, 2016</div>
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160815_184441.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160831_201450.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160901_171156.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160901_171326.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160901_171758.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160901_191238.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160901_194637.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160902_133222.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160902_133536.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160902_133539.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160902_164627.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160902_165502.jpg-50p.jpg" %}
  </div>
</div>

<br/>
<br/>

<div class="photo-section">
  <div class="section-header">Denmark, 2016</div>
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160817_111631.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160817_151153.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160818_111415.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160818_124033.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160819_134907.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160819_142325.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160819_184609.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160819_192138.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160820_122312.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160820_134737.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160820_165516.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160820_215108.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160821_072936.jpg-50p.jpg" %}
  </div>
</div>

<br/>
<br/>

<div class="photo-section">
  <div class="section-header">Sweden, 2016</div>
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_141923.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_152727.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_160812.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_161148.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_161739.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_162321.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_163445.jpg-50p.jpg" %}
  </div>
</div>

<br/>
<br/>

<div class="photo-section">
  <div class="section-header">Berlin, 2016</div>
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_160004.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_164316.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_170146.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_171115.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_171723.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_193242.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_193429.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_193708.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_134441.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_135214.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_145517.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_145833.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_151807.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_151815.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_171013.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_171030.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_171255.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_173813.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_173903.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_185902.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_191602.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160825_145103.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160825_175640.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160825_181438.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160825_183628.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160825_183815.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160826_182049.jpg-50p.jpg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160826_194008.jpg-50p.jpg" %}
  </div>
</div>