---
layout: default
use-site-title: true
---

<div class="photo-section">
  <div class="section-header">Iceland, 2016</div>
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160815_184441.jpg-50p.jpg"
      caption="Fríkirkjan í Reykjavík (The Free Church in Reykjavik)" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160831_201450.jpg-50p.jpg" 
      caption="Tjörnin (The Pond), Reykjavik" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160901_171156.jpg-50p.jpg" 
      caption="Near Seljalandsfoss" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160901_171326.jpg-50p.jpg" 
      caption="Seljalandsfoss" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160901_171758.jpg-50p.jpg" 
      caption="Seljalandsfoss" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160901_191238.jpg-50p.jpg" 
      caption="Skógafoss" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160901_194637.jpg-50p.jpg" 
      caption="Driving the Golden Circle" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160902_133222.jpg-50p.jpg" 
      caption="Öxarárfoss, Þingvellir National Park" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160902_133536.jpg-50p.jpg" 
      caption="Öxarárfoss, Þingvellir National Park" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160902_133539.jpg-50p.jpg" 
      caption="Öxarárfoss, Þingvellir National Park" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160902_164627.jpg-50p.jpg" 
      caption="Gullfoss" %}
    {% include grid_img.html path="/img/photography/iceland_2016/IMG_20160902_165502.jpg-50p.jpg" 
      caption="Gullfoss" %}
  </div>
</div>

<br/>
<br/>

<div class="photo-section">
  <div class="section-header">Denmark, 2016</div>
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160817_111631.jpg-50p.jpg" 
      caption="Copenhagen" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160817_151153.jpg-50p.jpg" 
      caption="Copenhagen" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160818_111415.jpg-50p.jpg" 
      caption="Statue of Bishop Absalon, founder of the city" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160818_124033.jpg-50p.jpg" 
      caption="Copenhagen, as seen from the Rundetårn" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160819_134907.jpg-50p.jpg" 
      caption="Frederiks Kirke" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160819_142325.jpg-50p.jpg" 
      caption="Magstræde, one of Copenhagen's oldest streets" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160819_184609.jpg-50p.jpg" 
      caption="The garden at Louisiana Museum of Modern Art, Humlebæk" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160819_192138.jpg-50p.jpg" 
      caption="Humlebæk" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160820_122312.jpg-50p.jpg" 
      caption="Søerne (The Lakes), Copenhagen" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160820_134737.jpg-50p.jpg" 
      caption="Botanisk Have (Botanical Garden), University of Copenhagen" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160820_165516.jpg-50p.jpg" 
      caption="Nyhavn" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160820_215108.jpg-50p.jpg" 
      caption="Tivoli Gardens" %}
    {% include grid_img.html path="/img/photography/denmark_2016/IMG_20160821_072936.jpg-50p.jpg" 
      caption="Early morning in Copenhagen" %}
  </div>
</div>

<br/>
<br/>

<div class="photo-section">
  <div class="section-header">Sweden, 2016</div>
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_141923.jpg-50p.jpg"  
      caption="Stockholm" %}
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_152727.jpg-50p.jpg"  
      caption="Picture from an exhibit at Fotografiska (The Swedish Museum of Photography)" %}
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_160812.jpg-50p.jpg"  
      caption="Stockholm" %}
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_161148.jpg-50p.jpg"  
      caption="Stockholm" %}
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_161739.jpg-50p.jpg"  
      caption="Stockholm" %}
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_162321.jpg-50p.jpg"  
      caption="Gamla Stan (Old Town), Stockholm" %}
    {% include grid_img.html path="/img/photography/sweden_2016/IMG_20160821_163445.jpg-50p.jpg"  
      caption="Gamla Stan (Old Town), Stockholm" %}
  </div>
</div>

<br/>
<br/>

<div class="photo-section">
  <div class="section-header">Berlin, 2016</div>
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160825_183628.jpg-50p.jpg"  
      caption="The Fernsehturm (TV Tower) from the Spree" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_193708.jpg-50p.jpg"  
      caption="Berlin" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_193242.jpg-50p.jpg"  
      caption="Berlin" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_171723.jpg-50p.jpg"  
      caption="The Reichstag" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_171115.jpg-50p.jpg"  
      caption="A building near the Reichstag" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_193429.jpg-50p.jpg"  
      caption="Old vs. New" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_134441.jpg-50p.jpg"  
      caption="Modern grafitti on the Wall" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_135214.jpg-50p.jpg"  
      caption="Modern grafitti on the Wall" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_145517.jpg-50p.jpg"  
      caption="The River Spree" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_145833.jpg-50p.jpg"  
      caption="The River Spree" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_151807.jpg-50p.jpg"  
      caption="Cycling in a park in Kreuzberg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_151815.jpg-50p.jpg"  
      caption="A park in Kreuzberg" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_171013.jpg-50p.jpg"  
      caption="Statue in Treptower Park" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_171030.jpg-50p.jpg"  
      caption="The Soviet War Memorial in Treptower Park" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_171255.jpg-50p.jpg"  
      caption="The Soviet War Memorial in Treptower Park" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_173813.jpg-50p.jpg"  
      caption="The Soviet War Memorial in Treptower Park" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_173903.jpg-50p.jpg"  
      caption="The Soviet War Memorial in Treptower Park" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_170146.jpg-50p.jpg"  
        caption="Siegessäule (Victory Column)" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_185902.jpg-50p.jpg"  
      caption="Brandenburg Gate" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160825_145103.jpg-50p.jpg"  
      caption="Berlin from above" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160824_191602.jpg-50p.jpg"  
      caption="The Wall at sunset" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_160004.jpg-50p.jpg"  
      caption="Grafitti on the Berlin Wall" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160823_164316.jpg-50p.jpg"  
      caption="Denkmal für die ermordeten Juden Europas (Memorial to the Murdered Jews of Europe)" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160825_175640.jpg-50p.jpg"  
      caption="Tracing the Wall's path" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160825_181438.jpg-50p.jpg"  
      caption="Map of how the Wall cut through the city" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160825_183815.jpg-50p.jpg"  
      caption="Berlin" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160826_182049.jpg-50p.jpg"  
      caption="Berlin" %}
    {% include grid_img.html path="/img/photography/germany_2016/IMG_20160826_194008.jpg-50p.jpg"  
      caption="Tempelhofer Feld, the now-defunct Tempelhof airport-turned-park" %}
  </div>
</div>

<br/>
<br/>

<div class="photo-section">
  <div class="section-header">Amsterdam, 2016</div>
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    {% include grid_img.html path="/img/photography/netherlands_2016/IMG_20160827_190432.jpg-50p.jpg"  
      caption="Amsterdam" %}
    {% include grid_img.html path="/img/photography/netherlands_2016/IMG_20160827_190834.jpg-50p.jpg"  
      caption="Amsterdam" %}
    {% include grid_img.html path="/img/photography/netherlands_2016/IMG_20160828_142304.jpg-50p.jpg"  
      caption="Amsterdam" %}
    {% include grid_img.html path="/img/photography/netherlands_2016/IMG_20160828_144837.jpg-50p.jpg"  
      caption="Amsterdam" %}
    {% include grid_img.html path="/img/photography/netherlands_2016/IMG_20160828_165649.jpg-50p.jpg"  
      caption="Amsterdam" %}
    {% include grid_img.html path="/img/photography/netherlands_2016/IMG_20160830_124222.jpg-50p.jpg"  
      caption="Amsterdam" %}
    {% include grid_img.html path="/img/photography/netherlands_2016/IMG_20160830_142411.jpg-50p.jpg"  
      caption="Vondelpark" %}
    {% include grid_img.html path="/img/photography/netherlands_2016/IMG_20160830_153648.jpg-50p.jpg"  
      caption="Amsterdam" %}
    {% include grid_img.html path="/img/photography/netherlands_2016/IMG_20160830_160634.jpg-50p.jpg"  
      caption="Amsterdamse Bos (Amsterdam Forest)" %}
    {% include grid_img.html path="/img/photography/netherlands_2016/IMG_20160830_154731.jpg-50p.jpg"  
      caption="Bosbaan, Amsterdamse Bos" %}
    {% include grid_img.html path="/img/photography/netherlands_2016/IMG_20160830_155221.jpg-50p.jpg"  
      caption="Bosbaan, Amsterdamse Bos" %}
  </div>
</div>
